.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
    .paper {
        padding: 2vh;
        margin: 5vh;
      .paperTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        .options {
          margin: 2vh;
        }
      }
    }
}